@tailwind base;
@tailwind components;
@tailwind utilities;

.bgpost{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
box-shadow: 0px 3.43005px 20.5803px -0.857513px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(17.1503px);
}
.dotsClass{
  color:black;
}
body{
  background: url('../public/Assets/bg.jpg');
background-size: 100%;
background-repeat: no-repeat;
min-height: 100vh;
background-position: center bottom;
}